<div class="login-page">
<h2>Log in</h2>
<%= form_with(scope: :session, url: sessions_path) do |f| %>

  <%= f.label :email %><br>
  <%= f.email_field :email %><br><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br><br>

  <%= f.submit "Log in" %>
<% end %>
</div>
